{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'js/tailwindcss.bundle.js' %}"></script>
    <title>Đăng nhập</title>
    
  </head>

<body>
    <div>
        <div class="relative  h-[100vh]  ">
            <div class="absolute inset-0 top-[-10rem] -z-10  overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" <="" div="">
                </div>
            </div>
            <div class="relative  h-full">
                <div class="flex h-[100%] flex-1 items-center justify-center  ">
                    <div class="sm:mx-auto sm:w-full w-[80%] sm:max-w-sm shadow-2xl p-5 rounded-2xl duration-300 ease-linear">
                        <form action="" method="post">
                            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                                Đăng nhập
                            </h2>
                            {% csrf_token %}
                              {% for field in form %}
                                <div class="mt-2">
                                    <div class="flex items-center justify-between duration-300 ease-linear">
                                        <label class="block text-sm font-medium leading-6 text-gray-900" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    </div>
                                    <div class="mt-2">
                                        {{field}}
                                    </div>
                                </div>
                              {% endfor %}
                              {% if messages %}
                                <div class="err">
                                {% for message in messages %}
                                    <span class="text-rose-500 md:text-sm text-xs">{{ message }}</span>
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div class="mt-8">
                                <button type="submit" class="bg-violet-400 duration-200 hover:bg-violet-500 flex w-full justify-center rounded-md text-neutral-950   py-2  text-sm font-semibold leading-6  shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    Đăng Nhập
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>