{% extends 'layout/layout.html' %} 
{% load static %} 
{% load humanize %} 
{%block title %} Sản phẩm {% endblock %} {% block content %}
<style>
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    /* -webkit-appearance: none; */

    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }
</style>
<main class="xl:container mx-auto lg:container sm:container">
  <div class="text-center pt-4">
    {% if tk != "" %}
      <h4 class="lg:text-xl md:text-lg text-base">Kết quả tiềm kiếm cho từ khóa '<strong class="text-red-500">{{tk}}</strong>'</h4>
    {% endif %}
</div>
  <div class="gap-y-4 grid py-5 px-5">
    <div class="flex gap-4">
      <div
        class="rounded-lg bg-white shadow-md border border-gray-100 p-5 xl:flex-[1_1_25%] flex-[1_1_30%] md:block hidden"
      >
        <h2 class="uppercase bg-white font-semibold text-xl">
          bộ lộc tìm kiếm
        </h2>
      </div>
      <div
        class="rounded-lg bg-white shadow-md border border-gray-100 p-5 xl:flex-[1_1_75%] flex-[1_1_70%]"
      >
        <div class="flex justify-between items-center flex-wrap">
          <div class="flex items-center">
            <div id="btn-open-filter">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 448 512"
                class="md:hidden text-2xl duration-150 hover:text-[#00c16a] cursor-pointer"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                ></path>
              </svg>
            </div>
            <div id="tag-filter" class="flex items-center gap-2 px-2"></div>
          </div>
          <form  method="get">
            <input class="sr-only" type="text" name="s" value="{{tk}}" />
            <input class="sr-only" type="text" name="p" value="1" />

            {% if ft_danhmuc %}
              {% for danhmuc in ft_danhmuc %}
                <input type="text" name="ft_danhmuc" value="{{danhmuc}}" class="sr-only" />
              {% endfor %}
            {% endif %}

            {% if ft_gioitinh %}
              {% for gioitinh in ft_gioitinh %}
                <input type="text" name="ft_gioitinh" value="{{gioitinh}}" class="sr-only" />
              {% endfor %}
            {% endif %}
            <input class="sr-only" type="text" name="gia_nn" value="{{gia_nn}}" />
            <input class="sr-only" type="text" name="gia_ln" value="{{gia_ln}}" />
            <label class="text-[18px]">
              Sắp Xếp:<select
                onchange="this.form.submit()"
                name="sx"
                class="border rounded border-gray-900 border-solid p-1"
              >
                <option {% if sx == "" %}selected{% endif %} value="">Mặc định</option>
                <option {% if sx == "gia_asc" %}selected{% endif %}  value="gia_asc">Giá tăng dần</option>
                <option {% if sx == "gia_desc" %}selected{% endif %} value="gia_desc">Giá giảm dần</option>
                <option {% if sx == "ngaytao_desc" %}selected{% endif %} value="ngaytao_desc">Sẳn phẩm mới</option>
                <option {% if sx == "ten_asc" %}selected{% endif %} value="ten_asc">Theo tên</option>
              </select>
            </label>
            <input type="submit" class="sr-only" value="Submit" />
          </form>
        </div>
      </div>
    </div>
    <div class="flex gap-4 items-start">
      <div
        id="modal-filter"
        class="md:rounded-lg md:bg-white md:shadow-md md:p-5 xl:flex-[1_1_25%] md:flex-[1_1_30%] md:block md:relative fixed inset-0 bottom-0 md:z-[10] z-[999999] hidden border border-gray-100"
      >
        <div
          id="filter-overlay"
          class="md:relative md:hidden block absolute w-full h-[100vh] inset-[0] opacity-60 bg-[#212121]"
        ></div>
        <div
          class="relative md:w-full sm:w-[50%] inset-0 w-[80%] bg-white md:p-0 p-5 h-full md:translate-x-[0] md:shadow-none shadow-md ease-linear delay-0 duration-[300ms]"
        >
          <div class="md:hidden block pb-[40px]">
            <div
              id="btn-close-filter"
              class="p-4 pt-0 float-right cursor-pointer text-[20px] hover:text-[#00c16a] hover:duration-400"
            >
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 384 512"
                class=""
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                ></path>
              </svg>
            </div>
          </div>
          <form action="" method="get">
            <input type="text" name='s' class="sr-only" value="{{tk}}">
            <div>
              <h3
                class="text-gray-900 py-[10px] opacity-80 text-left text-xl font-semibold"
              >
                Theo Danh Mục
              </h3>
              

              {% for danhmuc in danhmucs  %}
                {% if danhmuc.id in ft_danhmuc %}
                <div>
                  <label
                    for="ft_danhmuc"
                    class="flex font-semibold flex-row-reverse items-center justify-end duration-200 hover:text-[#00c16a] cursor-pointer xl:w-[50%] lg:w-[60%] text-[18px]"
                    >{{danhmuc.ten}}
                    <input
                      class="accent-[#00c16a] h-5 w-5 mr-3 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      type="checkbox"
                      checked
                      value="{{danhmuc.id}}"
                      name="ft_danhmuc"
                  />
                </label>
                </div>
                {% else %}
                <div>
                  <label
                    for="ft_danhmuc"
                    class="flex font-semibold flex-row-reverse items-center justify-end duration-200 hover:text-[#00c16a] cursor-pointer xl:w-[50%] lg:w-[60%] text-[18px]"
                    >{{danhmuc.ten}}
                    <input
                      class="accent-[#00c16a] h-5 w-5 mr-3 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                      type="checkbox"
                      value="{{danhmuc.id}}"
                      name="ft_danhmuc"
                  />
                </label>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <div>
              <h3
                class="text-gray-900 py-[10px] opacity-80 text-left text-xl font-semibold"
              >
                Theo Giới Tính
              </h3>

              <div class="">
                <label
                  for="nam"
                  class="flex font-semibold flex-row-reverse items-center justify-end duration-200 hover:text-[#00c16a] cursor-pointer xl:w-[50%] lg:w-[60%] text-[18px] capitalize"
                  >nam<input
                    class="accent-[#00c16a] h-5 w-5 mr-3 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    type="checkbox"
                    name="ft_gioitinh"
                    value="Nam"
                    {% if "Nam" in ft_gioitinh %} checked {% endif %}
                /></label>
              </div>
              <div class="">
                <label
                  for="nữ"
                  class="flex font-semibold flex-row-reverse items-center justify-end duration-200 hover:text-[#00c16a] cursor-pointer xl:w-[50%] lg:w-[60%] text-[18px] capitalize"
                  >nữ<input
                    class="accent-[#00c16a] h-5 w-5 mr-3 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    type="checkbox"
                    name="ft_gioitinh"
                    value="Nu"
                    {% if "Nu" in ft_gioitinh %} checked {% endif %}
                /></label>
              </div>
              <div class="">
                <label
                  for="unisex"
                  class="flex font-semibold flex-row-reverse items-center justify-end duration-200 hover:text-[#00c16a] cursor-pointer xl:w-[50%] lg:w-[60%] text-[18px] capitalize"
                  >unisex<input
                    class="accent-[#00c16a] h-5 w-5 mr-3 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    type="checkbox"
                    name="ft_gioitinh"
                    value="Unisex"
                    {% if "Unisex" in ft_gioitinh %} checked {% endif %}
                /></label>
              </div>
            </div>
            <div>
              <input class="sr-only" type="text" name="p" value="1" />
              <h3
                class="text-gray-900 py-[10px] opacity-80 text-left text-xl font-semibold"
              >
                Theo Giá
              </h3>
              <div
                class="flex items-center mb-[10px] relative m-[10px_0_20px] bg-gray-900 rounded-lg"
              >
                <label for="gia_nn"></label>
                <input
                  id="ip_gia_nn"
                  type="range"
                  class="cursor-pointer absolute w-full h-[5px] top-0 pointer-events-none appearance-none bg-red-900 accent-red-900"
                  name="gia_nn"
                  min="0"
                  max="2980000"
                  step="1000"
                  value="{{gia_nn}}"
                />
                <label for="gia_ln"></label>
                <input
                  id="ip_gia_ln"
                  type="range"
                  class="cursor-pointer absolute w-full h-[5px] top-0 pointer-events-none appearance-none bg-blue-900 accent-blue-900"
                  name="gia_ln"
                  min="40000"
                  max="3000000"
                  step="1000"
                  value="{{gia_ln}}"
                />
              </div>
              <div class="flex justify-between mt-[20px] font-semibold">
                <span class="gia_nn">{{gia_nn}}</span>
                <span class="gia_ln">{{gia_ln}}</span>
              </div>
            </div>
            <div class="flex gap-4 mt-[20px] flex-wrap">
              <button
                class="py-3 opacity-60 rounded-md bg-[#00c16a] text-white duration-200 font-semibold hover:bg-gray-900 lg:flex-1 flex-[1_1_100%]"
                type="reset"
              >
                Làm mới
              </button>
              <button
                class="py-3 rounded-md bg-[#00c16a] text-white duration-200 font-semibold hover:bg-green-400 lg:flex-1 flex-[1_1_100%]"
                type="submit"
              >
                Xác nhận
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="xl:flex-[1_1_75%] flex-[1_1_70%]">
        <div>
          {% if dssanpham %}
          <div
            class="grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2 gap-4 relative"
          >
            {% for sp in object_list %}
            <div
              class="relative hover:border-[#00c16a] flex w-full flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md"
            >
              <a href="{% url 'chitietsanpham' sp.id %}" class="block h-full">
                <div
                  class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl"
                >
                  <img
                    class="object-cover w-[100%]"
                    src="/media/{{sp.hinhanh}}"
                    alt="product image"
                  />
                </div>
                <div class="mt-4 px-5 pb-5 h-[calc(100%-16rem)]">
                  <div class="flex flex-col justify-between h-full">
                    <h5
                      class="lg:text-lg md:text-base text-sm tracking-tight text-slate-900"
                    >
                      {{sp.ten}}
                    </h5>
                    <div>
                      <div class="mt-2 mb-2 flex items-center justify-between">
                        <div class="flex items-center">
                          <svg
                            class="h-4 w-4 text-yellow-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                            />
                          </svg>
                          <svg
                            class="h-4 w-4 text-yellow-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                            />
                          </svg>
                          <svg
                            class="h-4 w-4 text-yellow-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                            />
                          </svg>
                          <svg
                            class="h-4 w-4 text-yellow-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                            />
                          </svg>
                          <svg
                            class="h-4 w-4 text-yellow-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                          >
                            <path
                              stroke="currentColor"
                              stroke-width="2"
                              d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"
                            />
                          </svg>
                          {% comment %}
                          <span
                            class="mr-2 ml-3 px-2.5 py-0.5 text-xs text-gray-500"
                            >Đã bán 1</span
                          >
                          {% endcomment %}
                        </div>
                      </div>
                      <span class="text-rose-500 md:text-xl text-lg"
                        ><strong class="font-semibold"
                          >đ {{sp.gia|stringformat:"i"|intcomma }}</strong
                        ></span
                      >
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="h-full">
            <div class="2xl:mt-0 lg:mt-[20px] md:mt-[120px]">
              <img class="w-[60%] mx-auto" src="{% static "images/none-p.png" %}" alt="error">
            </div>
            <h3
              class="uppercase opacity-70 sm:text-[24px] text-[16px] text-center"
            >
              Không tìm thấy sản phẩm
            </h3>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <nav class="ml-auto">
      <ul class="flex items-center -space-x-px h-10 text-base">
        {% if page_obj.has_previous %}
        <li>
          <a 
          href="{% url "sanpham" %}?page={{page_obj.previous_page_number}}{% if tk != "" %}&s={{tk}}{% endif %}{% if sx != "" %}&sx={{sx}}{% endif %}{% for danhmuc in ft_danhmuc  %}&ft_danhmuc={{danhmuc}}{% endfor %}{% for gioitinh in ft_gioitinh  %}&ft_gioitinh={{gioitinh}}{% endfor %}&gia_nn={{gia_nn}}&gia_ln={{gia_ln}}" 
          class="hover:text-white hover:bg-green-500 flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg ">
              <span class="sr-only">Previous</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"></path>
              </svg>
          </a>
      </li>
        {% else %}
          <li>
            <a href="#" class="pointer-events-none opacity-40  hover:text-white hover:bg-green-500 flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg ">
                <span class="sr-only">Previous</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"></path>
                </svg>
            </a>
          </li>
        {% endif %}
        <ul class="sm:inline-flex hidden">
          {% for i in paginator.page_range %}
            <li>
              <a 
              href="{% url "sanpham" %}?page={{i}}{% if tk != "" %}&s={{tk}}{% endif %}{% if sx != "" %}&sx={{sx}}{% endif %}{% for danhmuc in ft_danhmuc  %}&ft_danhmuc={{danhmuc}}{% endfor %}{% for gioitinh in ft_gioitinh  %}&ft_gioitinh={{gioitinh}}{% endfor %}&gia_nn={{gia_nn}}&gia_ln={{gia_ln}}"
              class=" {% if i == page_obj.number %} text-white bg-green-500 {% else %} text-gray-900 bg-white hover:text-white hover:bg-green-500 {% endif %}  flex items-center justify-center px-4 h-10 leading-tight border border-gray-300 ">{{i}}</a>
          </li>
          {% endfor %}
        </ul>
        {% if page_obj.has_next %}
          <li>
            <a 
          href="{% url "sanpham" %}?page={{page_obj.next_page_number}}{% if tk != "" %}&s={{tk}}{% endif %}{% if sx != "" %}&sx={{sx}}{% endif %}{% for danhmuc in ft_danhmuc  %}&ft_danhmuc={{danhmuc}}{% endfor %}{% for gioitinh in ft_gioitinh  %}&ft_gioitinh={{gioitinh}}{% endfor %}&gia_nn={{gia_nn}}&gia_ln={{gia_ln}}" 
            class="hover:text-white hover:bg-green-500 flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg ">
                <span class="sr-only">Next</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
                </svg>
            </a>
        </li>
        {% else %}
          <li>
            <a href="#" class="pointer-events-none opacity-40 hover:text-white hover:bg-green-500 flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg  ">
                <span class="sr-only">Next</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
                </svg>
            </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</main>
<script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
{% endblock %}



